body{
    background-color: lightgrey;
}
.navbar{
    border-radius: 0px;
}
.content{
           background-color: rgb(40,62,74);
       }

 .color{
           color: rgb(209,196,158)
       }

       .border{
           border-bottom:1px lightgrey solid;
           
       }
	   
 .navbar-form
	   {
		   padding-top: 10px;
	   }
.navbar-head-changed
	   {
		   padding-top: 10px;
       }
       
       .navbar-inverse .navbar-nav > .active > a{

        background-color: rgb(40,62,74);
        border-bottom: 1px white solid;


       }
.search input[type="submit"] {
    background-color: rgb(225,233,238);
}  
.borderbottom{
    border-bottom: 1px white solid ;
}
.well.middle{
/*    min-height: 180px;*/
    border-radius: 0px;
    background-color: white;
	
}
.line{
    border-bottom: 1px lightgrey solid;
    padding-bottom: 30px;
}
.well.image{
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 30px;
    padding: 10px;
}


/* Avoid overiding default bootstrap well class.. It will create problem later.*/
.well.upper{
    border-radius: 0px;
    padding: 0px;
    margin-bottom: 0px;
    background-color: white;
}


.customize-well-middle-div
{
	margin-bottom:0px;
	margin-top:8px;
}

.post-btn
{
	margin-top: 5px;
	background-color: rgb(0,132,192);
}

.linkedin-post-btn
{
	border-radius: 30px;
	background-color: whitesmoke;
	color:black;
	margin-top: 5px;
	border-color: black;
	
}

.linkedin-post-btn:hover{
	
	background-color: whitesmoke;
	color:rgb(0,132,192);
	border-color: rgb(0,132,192);

	
}
.myphoto{
    width: 50px;
    height: 50px;
    margin-top: 20px;
    
}
.border-img{
     border-bottom: 1px lightgrey solid;
    padding-bottom: 15px;
    margin-top: 15px;
    
}
.weight{
    font-weight: bold;
}
.glyphicon-stop{
    color:rgb(200,180,118);
}
.photo{
    width: 45px;
    height:45px;
}
.button-shape{
    border-radius:0px;
}
.border-second{
    border-bottom: 1px lightgrey solid; 
}
.number-color{
    color:deepskyblue;
}
.well.bottom{
    border-radius: 0px;
    background-color: white;
}
.photo-sahid{
    width:35px;
    height: 35px;
}
.well.post-image{
    border-radius: 0px;
    background-color: white;
}
.sahid{
    margin-left: 0px;
    margin-top:0px;
}
.well.post-vedio{
    border-radius:0px;
    background-color: white;
}

.no-padding-left
{
    padding-left:0px;

}
.no-padding-right
{
    padding-right:0px;
}
.no-padding{
    padding:0px;
}

.like-share-comment-btn
{
    margin-top:5px;
    border-color: white;
    border-radius: 0px;
}
.like-share-comment-btn:hover{
    background-color:whitesmoke;
	color:rgb(0,132,192);
    border-color: whitesmoke;
    
}